<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209952338926-gh6hhljsdpq5gbb3n14vkceckndkt4es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209952338926-gh6hhljsdpq5gbb3n14vkceckndkt4es</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Mf-KJkiknZsz9LZYo-7NmlvaK5ZnNSg</string>
	<key>GCM_SENDER_ID</key>
	<string>209952338926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msupa.meanoji</string>
	<key>PROJECT_ID</key>
	<string>meanoji</string>
	<key>STORAGE_BUCKET</key>
	<string>meanoji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209952338926:ios:fc1d824e9f97af2a6dd4ff</string>
	<key>DATABASE_URL</key>
	<string>https://meanoji.firebaseio.com</string>
</dict>
</plist>